@media (max-width: 1200px) {
    .container {
        max-width: 960px; 
    }

    .footer {
        padding: 50px 0;
    }

    .footer__nav-list {
        gap: 70px;
    }

    .collection__left {
        max-width: 450px;
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .banner__wrap {
        height: auto;
        min-height:60dvh;
        padding: 20px 0;
    }

    .banner__title {
        font-size:72px;
    }

    .header__nav-list {
        gap: 70px;
    }

    .about {
        padding: 50px 0 0;
    }

    .collection__wrap {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;

    }

    .collection {
        padding: 30px 0;
    }

    .subtitle__collection {
        margin-top: 40px;
        font-size: 25px;
    }

    .content__collection {
         margin-top: 40px;
    }

    .collection__link {
        margin-top: 40px;
    }

}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .header__nav .burger {
        display: flex;
        order: 1;
    }

    .header__nav .header__nav-list {
        position: fixed;
        top: 0;
        left: -100%;
        background: rgba(20, 20, 20, 0.8);
        width: 100%;
        height: 100dvh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }

    .burger:focus ~ .header__nav-list {
        left: 0;
    }

    .footer .footer__nav {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer {
        padding: 50px 0;
        margin: 40px 0 0;
    }

    .footer .footer__nav {
        gap: 20px;
    }

    .footer__nav-list {
        gap: 29px;
    }

    .footer__nav-list {
        gap: 14px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }

     .banner__link {
        max-width: 160px;
        max-height: 60px;
        font-size: 15px;
        padding: 22px;
    }

    .banner__title {
        font-size: 40px;
    }

    .banner__wrap {
        gap: 60px;
    }

   .title__about {
        font-size: 30px;
        margin-bottom: 20px;
   }

   .collection {
        padding: 50px 0;
   }

   .title__collection {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .footer .footer__nav {
        flex-direction: column;
    }

    .footer .footer__nav {
        gap: 20px; 
    }

    .footer {
        padding: 20px 0;
    }
}

