@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    background: #F9F9F9;
    color: #303030;
}

.header {
    padding: 22px 0;
    background: #2D2D2D;
}


.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap:120px;
}

.logo {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 32px;
}

.header__nav-list_item-link {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 22px;
    opacity: 0.5;
}

.header__nav-list_item-link:hover {
 opacity: 1;
}

.header__nav .burger {
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
    gap:40px;
}

.banner {
    height: 731px;
    background: url(../img/bg.png) no-repeat center bottom/cover;
}

.banner__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100%;
}

input,
button {
    background: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: #FFFFFF
}

input::placeholder {
    color: inherit;
}


.banner__title {
    font-weight: 500;
    font-size: 96px;
    color: #FFFFFF;
}

.banner__link {
    font-weight: 700;
    max-width: 199px;
    max-height: 75px;
    height: 100%;
    width: 100%;
    padding:28px;
    background:#FFFFFF;
    text-align: center;
    font-size: 20px;
    color: #000000;
    border-radius: 12px;
}

.banner__link:hover {
    color: #fff;
    background: #000000;
}

.about {
    padding: 100px 0 0;
}

.about__container {
    max-width: 923px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.about__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about__content__wrap {
    max-width: 923px;
}

.title__about {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.content__about {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;  
}

.collection {
   margin: 0 auto;
   padding: 100px 0 0;
}

.collection img {
max-width: 555px;
width: 100%;
}

.collection__wrap {
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.collection__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 555px;
    width: 100%;
   
}

.collection__content__wrap {
    max-width: 459px;
}

.title__collection {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 80px;
}

.subtitle__collection {
    font-weight: 600;
    font-size: 32px;
    line-height: 30px;
}

.content__collection {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.collection__link {
    font-weight: 700;
    max-width: 160px;
    max-height: 75px;
    height: 100%;
    width: 100%;
    padding:28px;
    background:#000000;
    text-align: center;
    font-size: 20px;
    color:#FFFFFF;
    border-radius: 12px;
}

.collection__link:hover {
    background: #FFFFFF;
    color: #000000;
}

.footer {
    padding: 50px 0;
    background: #2D2D2D;
    margin: 100px 0 0;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.footer__nav-list {
    display: flex;
    align-items: center;
    gap:120px;
}

.footer__nav-list_item-link {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 22px;
}
